<div class="gist-header">
  <div class="gist-header-infos">
    <p><h3><%= link_to @gist.user.username, user_path(@gist.user) %></h3> / <strong><%= @gist.title %></strong></p>
  </div>
  <% if @gist.user == current_user %>
    <div class="gist-header-actions">
      <ul class="list-inline list-unstyled">
        <li><%= link_to "Edit", edit_gist_path(@gist), class: "btn btn-default" %></li>
        <li><%= link_to "Delete", gist_path(@gist), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></li>
      </ul>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="gist-container">
        <h2 class="gist-title">/<%= @gist.title %></h2>
        <p class="gist-description"><%= @gist.description %></p>
        <div id="gist-code"><%= @gist.code %></div>
      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(function(){
      var editor = ace.edit("gist-code");

      editor.setReadOnly(true);
      editor.setTheme("ace/theme/chrome");
      editor.getSession().setMode("ace/mode/javascript");

      editor.setOptions({
        maxLines: Infinity
      });
    });
  <% end %>
<% end %>

